.current-task {
    width: 100%;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px;
    margin: 0 0 48px;
    background: #FFFFFF;
    border: 2px solid #B7B7B7;
    border-radius: 5px;
}

.current-task__information {
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    color: #2E2E2E;
}

.current-task__btn-container {
    width: 416px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-task__delete-button {
    width: 184px;
    height: 64px;
    font-family: Alice;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    background: #C62828;
    border: 2px solid #B7B7B7;
    border-radius: 5px;
    outline: none;
}

.current-task__delete-button:active {
    background: #7a1919;
    transition: 6ms;
}

.current-task__complete-button {
    width: 184px;
    height: 64px;
    font-family: Alice;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    background: #00C853;
    border: 2px solid #B7B7B7;
    border-radius: 5px;
    outline: none;
}

.current-task__complete-button:active {
    background: #008136;
    transition: 6ms;
}

.current-task__information.complete {
    margin: 0 auto;
    text-decoration-line: line-through;
}